<a href="https://www.google.co.kr/search?q=2018+%EC%9B%94%EB%93%9C%EC%BB%B5&oi=ddle&ct=world-cup-2018-day-5-5138360925421568-lawcta&hl=ko&kgmid=/m/06qjc4&source=doodle-ntp"><%= image_tag "1.png" %></a>
<form action="https://www.google.co.kr/search?">
  <input type="text" name="q">
  <input type="submit">
</form>
